.new_point_comment {
    height: 420px;
}

.container{
    padding-bottom:20px;
background-image: url(/img/fon.jpg);
background-attachment: fixed;
background-size: 100% auto;
background-repeat: no-repeat;
background-position: center;
}


.action_index.controller_map.view_index .container{
       padding-bottom:0px;
}